@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat);/*title*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);/*meta*/
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);/*post,page*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);/*code*/
/*------------------------------------
 * Black N' K
 *
 * @author imkaywu@gmail.com
 * @link http://imkaywu.com/
 * @update 2014-07-31
 *
 * --------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;
    min-width: 1000px;
}

/*****************************************
* header
*****************************************/
header {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    /*border-bottom: 1px dashed #999;*/
}
/* my logo: Black N' K */
header #header {
    float: left;
}
div.me span {
    position: relative;
    bottom: 0.5em;
    font-family: 'Montserrat';
    font-size: 2.7em;
    color: #000000;
    text-decoration: none;
}
div.me img{
    width: 90px;
    height: 80px;
}
/* navigation */
nav {
    float: right;
    position: relative;
    top: 3em;
}
header nav span {
    margin: 0.3em;
}

/*****************************************
* content
*****************************************/
#content {
    clear: both;
    width: 50%;
    margin: 0 auto;
}
article .title {
    font-family: "Montserrat";
}
article .meta {
    font-family: "Josefin Sans";
    font-size: 0.875em;
    margin: 0.5em 0 0.5em 0;
}
article .post, article .page{
    font-family: "Noto Serif", serif;
    font-size: 1em;
}

/*paragraph, code, quoteblock margin*/
article .post > p {/*the immediate 'p' of class .post*/
    margin: 0 0 0.625em 0;
}
blockquote > p {
    margin: 0.625em 0;
}

/*code and blockquote*/
code {
    font-family: inconsolata;
    font-size: 90%;
    color: #171421;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    padding: 2px, 4px;
}
.highlight pre code, .highlight pre code span.title {
    font-family: inconsolata;
    font-size: 0.875em;
    line-height: 1.15em;
    color: inherit;
    white-space: pre-wrap;
    border: none;
    background-color: transparent;
}
.highlight {
    border: 1px solid #ccc;
    border-left: 1.25em solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    margin: 0 0 0.625em -1.25em;
}
.highlight .lineno {
    margin-left: -1.5em;
    margin-right: 0.4375em;/*7px*/
}
blockquote {
    font-family: inconsolata;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    margin: 0 0 0.625em 0;
    padding: 0 0.625em;
    line-height: 1.15em;
}

/*image*/
article .post img {
    max-width: 50%;
    display: block;
    margin: 0em auto 0.625em;
}

article.content {
    border-bottom: 1px solid #ccc;
    padding: 1.5em 0 1em 0;
}

/**********************************
* pagignation
**********************************/
div.pagination {
    font-family: "Josefin Sans";
    font-size: 1.2em;
    font-style: normal;
    margin: 0.7em 0;
}
div.pagination a {
    padding: 0 0.25em;/*4px*/
}
div.pagination span, div.pagination em {
    padding: 0 0.3125em;/*5px*/
}
div.pagination a {
    color: #333;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;
}
div.pagination a:hover {
    border: 1px solid #333;
}

/**********************************
* footer
**********************************/
footer {
    width: 50%;
    margin: 1em auto 0;
    font-family: 'Montserrat';
    font-size: 0.75em;
    text-align: center;
}

/*****************************************
* list config
*****************************************/
ol, ul {
    list-style-position: inside;    /* Specifies if the list-item markers should appear inside or outside the content flow */
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li {
    padding: 0.4em 0;
}

/*****************************************
* list of articles, archives, tags in 'page'
*****************************************/
li.listing-seperator {
    font-family: "Josefin Sans";
    font-size: 1em;
    font-weight: bold;
    color: crimson;
    list-style-type: none;
}
li.listing-item {
    font-family: "Montserrat";
    font-size: 0.8em;
    margin: 0.4em 0 0.4em 1em;
}
li.listing-item time {
    font-family: "Josefin Sans";
    font-weight: bold;
    margin-right: 0.7em;
}
#tag_cloud {
    font-family: "Josefin Sans";
    margin-bottom: 1em;
    line-height: 1.2em;
}
#tag_cloud a {
    color: crimson;
}
#tag_cloud a:hover {
    color: #ffffff;
    border: 1px solid crimson;
    background-color: crimson;
}
/*****************************************
* hyperlink in 'post'
*****************************************/
a {
    text-decoration: none;
    color: #333;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
}
/*common links*/
a:hover {
    color: crimson;
}
/*title*/
#content .title a:hover {
    color: #ffffff;
    border: 1px solid #333;
    background-color: #333;
}
/*links in the paragraph*/
#content .post a {
    color: crimson;
}
#content .post a:hover {
    color: #ffffff;
    border: 1px solid crimson;
    background-color: crimson;
}

/**********************************
* h1 h2 h3 h4 h5 h6 margin
**********************************/
h1, h2, h3,  h4, h5 , h6 {
    margin: 0 0 0.3em 0;
    font-family: "Montserrat";
    font-weight: normal;
}

/**********************************
* Gallery
**********************************/
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    padding: 0;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    font-family: "Montserrat";
    vertical-align: top;
    text-align: center;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li p {
    color: #333;
    margin: 0.625em auto 0.625em;
}
ul.rig li p:hover {
    color: crimson;
}

ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0;
}
/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 20px;
    }
}

/*link border*/
.lb-nav a.lb-next, .lb-nav a.lb-prev {
    border: none;
}

/**********************************
* Project
**********************************/
ul.project {
    list-style: none;
    font-size: 0px;
    margin-left: -5%; /* should match li left margin */
}
ul.project li {
    display: inline-block;
    padding: 0;
    margin: 0 0 3% 5%;
    background: #fff;
    border: 0px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    font-family: "Montserrat";
    vertical-align: top;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.project.columns-2 li {
    width: 45%; /* this value + 2.5 should = 50% */
}
ul.project li a:hover {
    color: #ffffff;
    border: 1px solid #333;
    background-color: #333;
}
ul.project li img{
    float: left;
    max-width: 100%;
    max-height: 12.5em;
    height: auto;
    margin: 0;
}
ul.project li p {
    font-family: "Noto Serif", serif;
    font-size: 1em;
    margin: 0 0 0.25em 0;
    padding: 0;
}
ul.project span a {
    color: crimson;
}
ul.project span a:hover {
    color: #ffffff;
    border: 1px solid crimson;
    background-color: crimson;
}

.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
